@font-face {
  font-family: "Allison-Regular";
  src: url("../fonts/Allison-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "STIXTwoText-Regular";
  src: url("../fonts/STIXTwoText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "STIXTwoText-Medium";
  src: url("../fonts/STIXTwoText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "STIXTwoText-Semi";
  src: url("../fonts/STIXTwoText-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


